<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body id="mainBody">
        <%- include('partials/header.ejs') %>
        <div class="mainTitles">
        <h1>Ingresa</h1>
        </div>

        <main>
            <div class="formContainer">
                <form class="welcomeForm" action="">
                    <label class="welcomeLabel" for="">e-mail</label>
                    <br>
                    <br>
                    <input class="welcomeInput" type="email" name="email">
                    <br>
                    <br>
                    <label class="welcomeLabel" for="">contraseña</label>
                    <br>
                    <br>
                    <input class="welcomeInput" type="password" name="password">
                    <br>
                    <br>
                    <input class="welcomeCheckbox" type="checkbox">
                    <label class="welcomeLabelCheckbox" for="">no me olvides</label>
                    <br>
                    <br>
                    <div class="welcomeButtonContainer">
                        <button class="welcomeButton" type="submit">Ingresar</button>

                    </div>

                </form>
                <div class="welcomeCreateButton">
                    <a href="/users/create"><button class="welcomeButton" type="submit">Crear Usuario</button></a>
                </div>
            </div>
        </main>

        <footer>

        </footer>

    </body>

</html>