<header>
    <nav class="navBar">
        <div class="navBarItem">
            <a href="/"><span class="material-icons">
                home
            </span></a>
        </div>
        <div class="navBarItem">
            <a href="/users/login"><span class="material-icons">
                person
            </span></a>
        </div>
        <div class="navBarItem">
           <a href="/users/create"> <span class="material-icons">
                person_add
            </span></a>
        </div>

        <div class="navBarItem">
            <a href="/users/database"> <span class="material-icons">
                people
                </span></a>
         </div>

       
    </nav>
</header>